.conteudo {
    padding: 32px;
}

.espacamento-baixo {
    margin-bottom: 24px;
}

.rodape {
    text-align: center;
}

.div-conteudo {
    text-align: center;
    margin-bottom: 32px;
}

.div-categoria {
    text-align: center;
    margin-bottom: 32px;
    background-color:aqua;
}

.link-categoria {
    margin-right: 8px;
}
