<!DOCTYPE html>
<html>
<head>
    <title>Gerenciamento de animais para adoção</title>
</head>

<body>
    <h2>Gerenciamento de animais</h2>
    <a asp-action="Cadastrar" asp-controller="Animal">Cadastrar Animal</a>
</body>

</html>
